.home-hero {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  /* image à gauche, texte à droite */
  gap: 2rem;
  align-items: center;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 200px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  color: var(--muted);
  line-height: 1.6;
}

/* Responsive : pile quand petit écran */
@media (max-width: 768px) {
  .home-hero {
    grid-template-columns: 1fr;
    text-align: center;
  }


}